html, body {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100%;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
}

.left {
    width: 35vw;
    background-image: url(./img/ye.jpg);
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}

.right {
    width: 65vw;
}

.footer {
    margin: 8px;
    text-align: center;
    font-weight: 100;
    font-size: 0.7rem;
}

img {
    width: auto;
    height: 100px;
}

.logo {
    margin-top: 550px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.575);
    background-color: rgba(0, 0, 0, 0.527);
}

.text {
    margin-left: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
}